{% extends "shop/base.html" %}

{% load i18n %}

{% block metadescription %}
Welcome to Harien eshop
{% endblock metadescription %}

{% block metakeywords %}
{% endblock metakeywords %}

{% block head_title %}
Harien Shop | Verify your E-mail Address
{% endblock head_title %}

{% block content %}
<div class="site-section" style="padding-bottom: 150px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h2 class="h3 mb-3 text-black">Verify your E-mail Address</h2>
            </div>
            <div class="col-md-7">
                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize
                    the
                    signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}