{% extends 'shop/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block metadescription %}
Welcome to Harien eshop
{% endblock metadescription %}

{% block metakeywords %}
{% endblock metakeywords %}

{% block head_title %}
Harien Shop | Payment
{% endblock head_title %}

{% block content %}

<style>
  .lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }

  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #7971ea;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #7971ea;
  }

  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }

  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }

  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }

    5% {
      transform: scale(1.1);
    }

    39% {
      transform: scale(0.85);
    }

    45% {
      transform: scale(1);
    }

    60% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(0.9);
    }
  }
</style>

<main style="padding-bottom: 10rem;">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div id="loader" class="lds-heart" style="margin: auto; display: none;">
          <div></div>
        </div>
        <div id="paymentDiv">
          <p><strong style="font-size: 1.3rem;">Order#: {{ order }}</strong></p>
          <p><strong style="font-size: 1.3rem;">Order total: {{ order.get_total }}€</strong></p>
          <p>Confirm the order to start preparing it for you.</p>
          <form method="POST" id="doorForm">
            {% csrf_token %}
            <div class="form-group">
              {{form|crispy}}
            </div>

            <button id="submitBtn" class="btn btn-harien btn-lg btn-block mt-3"
                    style="letter-spacing: 2px; font-size: 1.4rem;">Confirm Order</button>
            <a href="{% url 'payment' %}" class="btn btn-outline-secondary my-2">Back to payment options</a>
            <p>If you have any question or request please feel free to contact us through the contact form of the
              website
              mentioning the above order number.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

{% block scripts %}

<script>

  loader = document.getElementById('loader');
  paymentDiv = document.getElementById('paymentDiv')
  function toggleLoader(on) {
    loader.style.display = on === true ? 'block' : 'none';
    paymentDiv.style.display = on === true ? 'none' : 'block';
  }
  document.getElementById('doorForm').addEventListener('submit', e => {
    toggleLoader(true);
  })

</script>

{% endblock scripts %}