.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
.site-section {
  padding: 5em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative;
}
.site-section-heading:before {
  content: "";
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #1f4f7c;
}
.site-section-heading.text-center:before {
  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #1f4f7c;
}
.site-blocks-table {
  overflow: auto;
}
.site-blocks-table .product-thumbnail {
  width: 200px;
}
.site-blocks-table thead th {
  padding: 30px;
  text-align: center;
  border-width: 1px !important;
  vertical-align: middle;
  color: #212529;
  font-size: 18px;
}
.site-blocks-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: #212529;
}
.site-blocks-table tbody tr:first-child td {
  border-top: 1px solid #1f4f7c !important;
}
.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important;
}
.site-block-order-table td, .site-block-order-table th {
  color: #000;
}