* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
}

/* --------------------------- */
.text-black {
  color: black;
}

.btn {
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.2s all ease-in-out !important;
  -o-transition: 0.2s all ease-in-out !important;
  transition: 0.2s all ease-in-out !important;
  top: 0;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.btn.btn-harien {
  background-color: #7971ea!important;
  letter-spacing: .05em;
  color: white;
}

.btn:hover {
  -webkit-box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.9) !important;
  top: -1px; }

/* --------------------------- */
.category-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

.category-menu > * {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

.category-menu > * + * {
  margin-left: 30px;
}

/* .category-menu a {
  color: rgb(33, 37, 41);
  text-decoration: none;
} */
/* .category-menu a:not(:last-child) {
  margin-right: 50px;
} */
/* --------------------------- */
.category-image,
.all-categories {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
}

.category-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category-description p {
  width: 50%;
}
@media screen and (max-width:750px) {
  .category-description p {
    width: 80%;
  }
}
/* --------------------------- */
.product-item,
.single-product {
  position: relative;
  top: 0;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  transition: all .3s ease;
}
.single-product {
  padding: .5rem;
}
.product-item:hover,
.single-product:hover {
  box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
  top: -2;
}

.product-item-link {
  text-decoration: none!important;
  text-align: right;
  color: #7971ea;
}

.badge.badge-primary {
  background-color: #7971ea!important;
}