.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-bar figure img {
  width: 150px;
}

@media screen and (max-width: 1000px) {
  .top-bar {
    flex-direction: column;
    padding-bottom: 30px;
  }
}

.topbar-user {
  display: flex;
}

.topbar-user a {
  text-decoration: none;
  color: rgb(33, 37, 41);
}

.topbar-user a:not(:last-child) {
  margin-right: 20px;
}

.topbar-user a:hover {
  color:  rgb(92, 93, 95);
}

.topbar-user .site-cart {
  position: relative;
}

.topbar-user .site-cart .count {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -15px;
  margin-top: -20px;
  font-size: 1rem;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  display: block;
  text-align: center;
  background: #1f4f7c;
  color: #fff;
  transition: all .2s ease;
}

.top-bar .site-cart:hover .count {
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.3) !important;
  margin-top: -22px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  position: relative;
}

.nav-list {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-list li {
  list-style: none;
}

.nav-list li:not(:last-child) {
  margin-right: 60px;
}

.nav-list a {
  color: rgb(33, 37, 41);
  text-decoration: none;
  letter-spacing: 3px;
}

@media screen and (max-width: 1400px) {
  .nav-list {
    width: 40%;
  }
}
@media screen and (max-width: 930px) {
  .nav-list {
    width: 50%;
  }
  .nav-list li:not(:last-child) {
    margin-right: 40px;
  }
}

